<template>
  <div>
    <h1>Contactos</h1>
    <ul>
      <li v-for="(contact, index) in contacts" :key="index">
        <router-link :to="'/contacts/' + contact.id">{{ contact.name }}</router-link>
        </li>
    </ul>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ContactsIndex',

    data () {
      return {
        contacts: []
      }
    },

    created () {
      axios.get('http://localhost:8000/api/contacts')
        .then(response => {
          this.contacts = response.data
        })
    }
  }
</script>
