<template>
  <div>
    <form v-on:submit.prevent="save">
        <p>Nome: <input type="text" v-model="name"></p>
        <p>Email: <input type="text" v-model="email"></p>
        <p>Telefone: <input type="text" v-model="phone_number"></p>
        <p>Telemóvel: <input type="text" v-model="cell_number"></p>
        <input type="submit" value="Criar">
    </form>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'ContactsCreate',

    data () {
      return {
        name: '',
        email: '',
        phone_number: '',
        cell_number: ''
      }
    },

    methods: {
      save () {
        axios.post('http://localhost:8000/api/contacts', {
          name: this.name,
          email: this.email,
          phone_number: this.phone_number,
          cell_number: this.cell_number
        })
        .then(response => {
          this.$router.push('/contacts')
        })
      }
    }
  }
</script>

