<template>
  <div>
    <p><b>Nome:</b> {{ contact.name }}</p>
    <p><b>Email:</b> {{ contact.email }}</p>
    <p><b>Telefone:</b> {{ contact.phone_number }}</p>
    <p><b>Telemóvel:</b> {{ contact.cell_number }}</p>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'ContactsShow',

  data () {
    return {
      contact: {
        name: '',
        email: '',
        phone_number: '',
        cell_number: ''
      }
    }
  },

  created () {
    axios.get('http://localhost:8000/api/contacts/' + this.$route.params.id)
      .then(response => {
        this.contact = response.data
      })
  }
}
</script>

