<template>
  <div id="app">
    <router-link to="/"><img src="https://www.odoo.com/apps/modules/8.0/project_task_repetition/task_scheduling.png" width="250px"></router-link>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
