<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <router-link to="/tasks" class="btn btn-info" role="button">Tarefas</router-link>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Marcelo Andrade Tasks Test with VueJS'
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}


</style>
