<template>
  <div class="container text-center">
    <h1>Todas as Tarefas</h1>
     <router-link to="/" class="btn btn-info" role="button">Voltar</router-link>
    <router-link to="/tasks/new" class="btn btn-info" role="button">Adicionar Tarefa</router-link>
    <router-link to="/tasks/archive" class="btn btn-info" role="button">Arquivo</router-link>
    <br>
     <div class="alert alert-warning" v-if="message">
      {{ message }}
    </div>
    <div class="col-sm-6">
      <h1>Tarefas Por Concluir</h1>
      <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(task, index) in tasks" :key="index" v-if="task.finished===0">
        <td>{{ task.title }}</td>
        <td>{{ task.due_date }}</td>
        <td> <router-link :to="'/tasks/' + task.id + '/update'" class="btn btn-info" role="button"><i class="fa fa-cog" aria-hidden="true"></i></router-link></td>
        <td> <button @click="remove(task.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>

      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-sm-6">
      <h1>Tarefas Concluidas</h1>
      <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(task, index) in tasks" :key="index" v-if="task.finished===1">
        <td>{{ task.title }}</td>
        <td>{{ task.due_date }}</td>
        <td> <router-link :to="'/tasks/' + task.id + '/update'" class="btn btn-info" role="button"><i class="fa fa-cog" aria-hidden="true"></i></router-link></td>
        <td> <button @click="remove(task.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button></td>

      </tr>
    </tbody>
  </table>
  </div>
  </div>


</template>



<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
  import axios from 'axios'
  export default {
    name: 'TasksIndex',

     data () {
      return {
        message: '',

        tasks: {
          title: '',
          finished: '',
          archived: '',
          due_date:''
        }
      }
    },
     created () {
      axios.get('http://localhost:8000/api/tasks')
      .then(response => {
        this.tasks = response.data
      })
    },
    methods: {
      archive (id) {
        axios.put('http://localhost:8000/api/tasks/' + id +'/archive')
        .then(response => {

          this.$router.go()
        })
        .catch(errors => {
          this.message = errors.data
        })
      },
      unarchive (id) {
        axios.put('http://localhost:8000/api/tasks/' + id +'/unarchive')
        .then(response => {

           this.$router.go()
        })
        .catch(errors => {
          this.message = errors.data
        })
      },
        remove (id) {
          var deleteit=confirm("Pretende apagar a Tarefa?");
          if (deleteit == true) {
          axios.delete('http://localhost:8000/api/tasks/' + id)
          .then(response => {
            this.message = response.data

            this.tasks = this.tasks.filter(function (obj) {
              return obj.id !== id
            })
          })
          .catch(error => {
            this.message = error.data
          })
        }
      }
    }
  }
</script>
