<template>
  <div>
    <div class="alert alert-warning" v-if="message">
      {{ message }}
    </div>

  <form v-on:submit.prevent="save">
      <p>Título: <input type="text" name="title" v-model="task.title"></p>
      <p>Data:<input type="date" value="2017-06-01" v-model="task.due_date"></p>
      <p>Finalizado: <input type="checkbox" name="finished" v-model="task.finished"></p>
      <p><input type="submit" class="btn btn-info" value="Editar"></p>
    </form>
   <router-link to="/tasks" class="btn btn-info" role="button">Voltar</router-link>
   </div>

</template>

<script>
import axios from 'axios'

  export default {
    name: 'TasksUpdate',

    data () {
      return {
        message: '',
        task: {
          title: '',
          due_date:'',
          finished: '',
        }
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/tasks/' + this.$route.params.id)
          .then(response => {
            this.task = response.data
          })
      },
      save () {
        axios.put('http://localhost:8000/api/tasks/' + this.$route.params.id, {
          title: this.task.title,
          finished: this.task.finished,
          due_date: this.task.due_date,
        })
        .then(response => {
           this.message = response.data
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>
