<template>
  <div>
    <h1>Adicionar Tarefa</h1>
    <div class="alert alert-warning" v-if="message">
      {{ message }}
    </div>
     <form v-on:submit.prevent="save">
        <p>Título: <input type="text" v-model="title" required></p>
        <p>Data:<input type="date" value="2017-06-01" v-model="due_date"></p>
        <input type="submit" value="Criar" class="btn btn-info">

      </form> <br>
    <router-link to="/tasks" class="btn btn-info" role="button">Voltar</router-link>

  </div>
</template>
<script>

  import axios from 'axios'
  export default {

    name: 'TasksCreate',
   data () {
      return {
        message: '',

        task: {
          title: '',
          finished: '',
          archived: '',
          due_date:''
        }
      }
    },
     methods: {
      save () {
        axios.post('http://localhost:8000/api/tasks', {
          title: this.title,
          due_date: this.due_date,
        })
        .then(response => {
         this.message = response.data
        })
        .catch(errors => {
          this.message = errors.data['title']
        })
      }
    }
  }
</script>
