<template>
  <div class="container">
  <h2>Editar Carro</h2>
  <div>
      {{ message }}
    </div>
    <form v-on:submit.prevent="save">
      <p>Marca: <input type="text" name="brand" v-model="car.brand"></p>
      <p>Modelo: <input type="text" name="model" v-model="car.model"></p>
      <p><input type="submit" class="btn btn-info" value="Editar"></p>
    </form>
   <router-link to="/cars" class="btn btn-info" role="button">Voltar</router-link>

  </div>

</template>

<script>
import axios from 'axios'

  export default {
    name: 'CarsEdit',

    data () {
      return {
        message: '',
        car: {
          brand: '',
          model: '',

        }
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/cars/' + this.$route.params.id)
          .then(response => {
            this.car = response.data
          })
      },
      save () {
        axios.put('http://localhost:8000/api/cars/' + this.$route.params.id, {
          brand: this.car.brand,
          model: this.car.model,
        })
        .then(response => {
          this.$router.push('/cars')
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>

<style>

</style>

