<template>
  <div>
   <div class="container">
    <h2>Ver Carro</h2>
     <p><b>Marca:  </b> {{ car.brand }}</p>
    <p><b>Modelo: </b> {{ car.model }}</p>
    <router-link to="/cars" class="btn btn-info" role="button">Voltar</router-link>
  </div>

  </div>
</template>

<script>
import axios from 'axios'

  export default {
    name: 'CarsShow',

    data () {
      return {
        car: {
          brand: '',
          model: '',

        }
      }
    },

    created () {
      axios.get('http://localhost:8000/api/cars/' + this.$route.params.id)
        .then(response => {
          this.car = response.data
        })
    }
  }
</script>
