<template>
  <div class="container">
<div>
      {{ message }}
    </div>
    <ul class="list-group">
      <li v-for="(car, index) in cars" :key="index" class="list-group-item">
          {{ car.brand }} - {{car.model}} -
          <router-link :to="'/cars/' + car.id " class="btn btn-info" role="button">Ver</router-link>
          <router-link :to="'/cars/' + car.id + '/update'" class="btn btn-info" role="button">Editar</router-link>
          <button @click="remove(car.id)" class="btn btn-danger">Delete</button>
      </li>
    </ul>
    <router-link to="/" class="btn btn-info" role="button">Voltar</router-link>
    <router-link to="/cars/new" class="btn btn-info" role="button">Criar Carros</router-link>

  </div>
</template>

<script>
  import axios from 'axios'

  export default{
    name: 'CarsIndex',

    data () {
      return {
        cars: [],
        message: ''
      }
    },

    created () {
      axios.get('http://localhost:8000/api/cars')
      .then(response => {
        this.cars = response.data
      })
    },
    methods: {

      remove (id) {
        axios.delete('http://localhost:8000/api/cars/' + id)
          .then(response => {
             this.cars = this.cars.filter(function (obj) {
              return obj.id !== id
            })
          })
          .catch(error => {
            this.message = error.data
          })
      }
    }
  }
</script>
<style>
ul{
  list-style-type: none;
}
</style>

