<template>
  <div class="container">
    <div>
      {{ message }}
    </div>
    <h2>Criar Novo Carro</h2><br>
      <form v-on:submit.prevent="save">
        <p>Marca: <input type="text" v-model="brand"></p>
        <p>Modelo: <input type="text" v-model="model"></p>
        <input type="submit" value="Criar" class="btn btn-info">
      </form> <br>
       <p><router-link to="/cars" class="btn btn-info" role="button">Voltar</router-link></p>
  </div>
</template>

<script>
import axios from 'axios'
  export default {
    name: 'CarsCreate',

    data () {
      return {
        brand: '',
        models: '',

      }
    },

    methods: {
      save () {
        axios.post('http://localhost:8000/api/cars', {
          brand: this.brand,
          model: this.model,

        })
        .then(response => {
          this.$router.push('/cars')
        })
        .catch(errors => {
          this.message = errors.data
        })
      }
    }
  }
</script>
