<template>
  <div id="app">
    <img src="http://vignette1.wikia.nocookie.net/pixar/images/b/b2/Lightning_mcqueen_cars_2.png/revision/latest?cb=20160305153007">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
