<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula de VueJS</title>
    <style>
        .completed{
            text-decoration: line-through;
        }
    </style>
</head>
<!-- temos de identificar uma tag na qual a vue js entrevenha -->
<body>

    <div id="app">
        <input type="text" v-model="message"/><!-- consoante o que vou escrevendo na caixa de texto muda a variáveil -->
        <p>Mensagem do vinda da VueJS: {{message}}.</p> 
    </div>

    <div id="app1">
            <ul> 
                <li v-for="item in items"> {{ item }} </li>
            </ul>
    </div>

    <div id="app2">
        <h2>Array Dinámico</h2>
        <input type="text" v-model="newItem"/>
        <button v-on:click="addItem">Adicionar</button>
            <ul> 
                <li v-for="item in items" > {{ item }} </li>
            </ul>
    </div>


    <div id="app3">
            <h2>Tarefas</h2>
            <input type="text" v-model="newTask"/>
            <button @click="addTask">Adicionar</button>
                <ul> 
                    <li v-for="task in tasks" :class="{'completed':task.completed}"> {{ task.name }} </li>
                </ul>
        </div>
    
    


    <!-- inclusão do cdn do Vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.min.js"></script>
    <script src="app.js"></script>
</body>
</html>